
<!DOCTYPE html>
</html>
<html>
    <head>
        <title>Telusko</title>
    </head>
    <body bgcolor="cyan">
        <div id="content" name="content">
            {% block content %}
            {% endblock %}
        </div>
        <form action="login" method="POST">
            {% csrf_token%}
            <input type="text" name="username"placeholder="username"><br>
            
            <input type="text" name="password"placeholder="password"><br>
            <input type="Submit">

        </form>
        <div>
            {% for message in messages%}
            <h3>
                {{message}}
            </h3>
            {%endfor%}
        </div>
    </body>
</html>
